$primaryColor: #19A2D6;
$secondaryColor: rgb(17, 97, 127);
$tertiaryColor: #f3792e;

$bubble-wrapper-size: 600px;

.bubbleNav-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  .bubble-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    &.primary{
        background: $primaryColor;
    }
    .name{
      color: white;
    }
    .amount{
      color: white;
    }
  }
}

.bubble-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: $bubble-wrapper-size;
  height: $bubble-wrapper-size;
  border: 1px solid black;
  .bubble{

  }
}
